.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 90px;
  padding-left: 70px;
}
.btn-review{
  width: 100%;
  background-color:#FF9900 ;
  color: white;
  margin-top: 8px;
  padding: 10px;
  border: none;
}